<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base href="/">

<link href='https://fonts.googleapis.com/css?family=Raleway:400,300' rel='stylesheet' type='text/css'>

</head>

<body>

  <md-toolbar  md-scroll-shrink layout="row" layout-align="start center" layout-padding>
       
 
      <md-menu md-offset="0 -7">
          <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
             <md-icon md-svg-src="img/view-headline.svg" aria-label="Icon"></md-icon>
          </md-button>
          <md-menu-content width="2">
            <md-menu-item ng-repeat="item in ['About G-Cloud', 'Version']">
              <md-button >  {{item}} </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
             
       
       
    <span flex> <div class=loginheadertitle align="center">  G-Cloud Team  </div> </span>   
  
    <div class="container"   ng-hide= "(  currentUser.emails[0].address != 'cloudteam@gbmme.com' ) " >   
      <md-button class="md-raised md-primary"  ng-href="/myteam"  > 
       LOGOUT </md-button>    
    </div> 

  </md-toolbar>  <!-- Toolbar -->

  <div ui-view class="container-fluid">   </div> 
   
</body>

