    .T1animate-enter {
    	-webkit-transition: 1s linear all; /* Chrome */
    	transition: 10s linear all;
    	opacity: 0;
    	
    }
     
    .T1animate-enter.animate-enter-active {
    	opacity: 1;
    }
    
    
    .animate-enter, 
    .animate-leave { 
        -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
        -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
        -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
        -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
        transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
        position: relative;
        display: block;
    } 
     
    .animate-leave.animate-leave-active,
    .animate-enter {
        -webkit-transform: rotateX(90deg) rotateZ(90deg);
        -moz-transform: rotateX(90deg) rotateZ(90deg);
        -ms-transform: rotateX(90deg) rotateZ(90deg);
        -o-transform: rotateX(90deg) rotateZ(90deg);
        transform: rotateX(90deg) rotateZ(90deg);
        opacity: 0;
        height: 0px;
    }        
     
    .animate-enter.animate-enter-active,
    .animate-leave {
        -webkit-transform: rotateX(0deg) rotateZ(0deg);
        -moz-transform: rotateX(0deg) rotateZ(0deg);
        -ms-transform: rotateX(0deg) rotateZ(0deg);
        -o-transform: rotateX(0deg) rotateZ(0deg);
        transform: rotateX(0deg) rotateZ(0deg);
        opacity: 1;
        height: 30px;
    }
    
    
  .fade.ng-hide {
  opacity: 0;
}

.fadeOLD.ng-hide-remove,
.fadeOLD.ng-hide-add {
  display: block !important;
}

.fade.ng-hide-remove {
/*  transition: all linear 2000ms;*/
  
        -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
        -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
        -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
        -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
        transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
        position: relative;
        display: block;
}

.fadeOLD.ng-hide-add {
 /* transition: all linear 500ms;*/
         -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
        -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
        -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
        -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
        transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
        position: relative;
        display: block;
}
