
md-tab-item {
    background: #f0f0f0;
    color: #6f2a8e !important; 
    border: 1px solid #e1e1e1; 
}


/*  Login Page Header Title */
.loginheadertitle {
        margin: 0px 0px 0px 0px;
        color: #ffffff;
        text-align: center;
        font-family: 'Raleway', sans-serif;
        font-weight: 100;
        font-size: 24px;
        /* font: 24px arial, sans-serif; */
        /* margin-top: 20px; */

}

md-radio-button.md-checked .md-off  {
    border-color: #6f2a8e !important;
}

md-radio-button.md-default-theme, md-radio-button .md-on {
    background-color: #6f2a8e;
}

.loginlogo img{
        margin: 30px 0px 0px 5px;
	height: 70px;
	width: 144px;
}

.equinixlogo img{
        margin: 20px 0px 0px 100px;
        height: 70px;
        width: 144px;
}

.datacenterlogo img{
        margin: 20px 0px 0px 30px;
        height: 127px;
        width: 270px;
}

.openstacklogo img{
        margin: 20px 0px 0px 30px;
        height: 69px;
        width: 270px;
}

/*  Login Page Title */
.logintitle {
        margin: 40px 0px 0px 5px;
        color: #6a747c;
        text-align: center;
        font-family: 'Raleway', sans-serif;
        font-weight: bold;
        font-size: 22px;
        /* font: 24px arial, sans-serif; */
        /* margin-top: 20px; */

}


