
<md-content class="md-padding">
<div layout="column"  style="padding=20px; color: gray;" >

 <md-tabs md-dynamic-height md-border-bottom md-stretch-tabs="always"  md-selected="selectedIndex" >
    <md-tab   >
        <md-tab-label > Users
             <md-icon md-svg-src="img/cloud-print-outline.svg"></md-icon>
      </md-tab-label>
    <md-tab-body> 

       <h1> Users , Passwords,  Access , ...</h1>  
 
    
   </md-tab-body> 
   </md-tab>
    

    <!--XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX   -->
    <md-tab  >
      <md-tab-label> System
             <md-icon md-svg-src="img/cloud-download.svg"></md-icon>
        </md-tab-label>
      <md-tab-body>

     <h1>  Settings ,  Alerts, .......</h1>  
 
         
      
    </md-tab-body> 
    </md-tab>    
    
 </md-tabs>


 </div>    
 </md-content >
 
 


 
 
