
<div layout="column" style="padding: 20%">


          
<form>

<a class="loginlogo" href="/login"> <img src="img/login-page-logo.png"/> </a>
<br>
<b class="logintitle">Sign in to G-Cloud </b>

    <md-input-container  style="padding: 20px">
      <label>Access Code</label>
      <input ng-model="myuser.code" type="password">
    </md-input-container>

    <font color="red">{{ loginErrorMessage }} </font>
        
    <md-input-container  style="padding: 20px">
      <md-button class="md-raised md-primary"  ng-click="userLoginButton(myuser);myuser.code=''" 
       align="center"> LOGIN 
              <md-icon md-svg-src="img/weather-lightning.svg" aria-label="Icon"></md-icon>
       </md-button> 
    </md-input-container>
    
</form>  


</div>
