
<md-content class="md-padding">
<div layout="column"  style="padding=20px; color: gray;" >

 <md-tabs md-dynamic-height md-border-bottom md-stretch-tabs="always"  md-selected="selectedIndex" >
    <md-tab   >
        <md-tab-label > Info
             <md-icon md-svg-src="img/cloud-print-outline.svg"></md-icon>
      </md-tab-label>
    <md-tab-body> 
 <!-- {{  currentUser | displayName }} --> 

      <md-input-container  layout="flex"  > 
      <md-select ng-model="theproject"  > 
          <md-option ng-repeat="projectInfo in ['OVERVIEW','LOCATION','TEAM']" value="{{ projectInfo }}" >  {{ projectInfo }} </md-option>
     </md-select>
   </md-input-container>    

     <div layout="column"    ng-hide= "(  theproject != 'OVERVIEW' ) ">     
        <div ng-app="" ng-include="'client/include/include_overview.html'"></div>
     </div>     
      
     
     <div layout="column"    ng-hide= "(  theproject != 'LOCATION' ) ">     
       <a> G-Cloud  Lab is hosted in EQUINX Dubai (International Media Product Zone).<a href="https://www.google.ae/maps/place/Equinix/@25.0266377,55.1844717,17z/data=!4m7!1m4!3m3!1s0x3e5f6d9f30c78e37:0xa9f936c5035fd579!2sEquinix!3b1!3m1!1s0x3e5f6d9f30c78e37:0xa9f936c5035fd579?hl=en">Open in Google Maps</a> </a> <a class="equinixlogo"> <img src="img/equinix-logo.png"/> </a> <a class="datacenterlogo"> <img src="img/data-center.png"/> </a>
     </div>    
    
     <div layout="column"    ng-hide= "(  theproject != 'TEAM' ) ">     
       <a> GBM Cloud  Team ....</a>
     </div>       
    
   </md-tab-body> 
   </md-tab>
    

    <!--XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX   -->
    <md-tab  >
      <md-tab-label> Project
             <md-icon md-svg-src="img/cloud-download.svg"></md-icon>
        </md-tab-label>
      <md-tab-body>

 <md-input-container  layout="flex"  >     
  <md-radio-group ng-model="projectMgmt" layout="raw" >
      <div  ng-repeat="projectActions in ['MEETINGS','TASKS','STATUS']"   layout="column"  >
      <md-radio-button  ng-value="projectActions"  layout="row" >      
          {{ projectActions }}   
      </md-radio-button >      
      </div>
 </md-radio-group>    
   
 </md-input-container>    
   
   <md-divider ng-if="!$last"></md-divider>
   
     <div layout="column"    ng-hide= "(  projectMgmt != 'MEETINGS' ) ">   
      <div ng-app="" ng-include="'client/include/include_meetings.html'"></div>  
     </div>  
     <div layout="column"    ng-hide= "(  projectMgmt != 'TASKS' ) ">     
        <div ng-app="" ng-include="'client/include/include_tasks.html'"></div>
     </div>          
     
     <div layout="column"    ng-hide= "(  projectMgmt != 'STATUS' ) ">        
       <div ng-app="" ng-include="'client/include/include_status.html'"></div>
     </div>        
      
    </md-tab-body> 
    </md-tab>    
    
 </md-tabs>


 </div>    
 </md-content >
 
 


 
 
